<!DOCTYPE html>
<html>
<head>
  <title>Estuk</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "layouts/header" %>
<div class="container">
	<% flash.each do |type, mesaage| %>
	<div class="aler alert-info fade-in">
	<button clas ="close" data-dismiss="alert">X<button>
	<%= message %>
	<% end %>

<%= yield %>
</div>
</body>
</html>
